<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>mobiG</title>
    <style>
        .buntan {background-color : rgb(135, 16, 216); color:white; }
        body {background-color : #ffffcc;}
        .hidden {
            display: none;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}" href="#">Panel</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">Logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div class="jumbotron text-center" style="background-color : rgb(28, 29, 31); color:white;">
    <h1 class="display-4" style="font-weight:bold;">ADMIN DASHBOARD</h1>
    <p>Easily manage the application from this panel</p>
</div>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:rgb(86, 36, 208); color:white;">
                <div class="card-body text-center">
                    <h2 class="card-title">TODAY</h2>
                    <h4 class="card-text">ORDER COUNT : <span th:text="${ordersToday}" style="font-weight:900; font-size:50px;"></span></h4>
                    <h4 class="card-text">REVENUE : ₹ <span th:text="${salesToday}" style="font-size:35px;"></span></h4>
                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:rgb(86, 36, 208); color:white;">
                <div class="card-body text-center">
                    <h2 class="card-title">THIS WEEK</h2>
                    <h4 class="card-text">ORDER COUNT : <span th:text="${ordersThisWeek}" style="font-weight:900; font-size:50px;"></span></h4>
                    <h4 class="card-text">REVENUE : ₹ <span th:text="${salesThisWeek}" style="font-size:35px;"></span></h4>
                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:rgb(86, 36, 208); color:white;">
                <div class="card-body text-center">
                    <h2 class="card-title">THIS MONTH</h2>
                    <h4 class="card-text">ORDER COUNT : <span th:text="${ordersThisMonth}" style="font-weight:900; font-size:50px;"></span></h4>
                    <h4 class="card-text">REVENUE : ₹ <span th:text="${salesThisMonth}" style="font-size:35px;"></span></h4>
                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:rgb(86, 36, 208); color:white;">
                <div class="card-body text-center">
                    <h2 class="card-title">THIS YEAR</h2>
                    <h4 class="card-text">ORDER COUNT : <span th:text="${ordersThisYear}" style="font-weight:900; font-size:50px;"></span></h4>
                    <h4 class="card-text">REVENUE : ₹ <span th:text="${salesThisYear}" style="font-size:35px;"></span></h4>
                </div>
            </div>
        </div>
    </div>

    <br>

<!--    <button class="btn btn-primary" id="btn1" onclick="updateChart('lastSevenDays')">Last 7 days</button>-->
<!--    <button class="btn btn-primary" id="btn2" onclick="updateChart('lastThirtyDays')">Last 30 days</button>-->
    <button class="btn btn-primary" id="btn1" onclick="updateChart(lastSevenDaysOrders, lastSevenDaysOrdersTitle, lastSevenDaysSales, lastSevenDaysSalesTitle)">Last 7 days</button>
    <button class="btn btn-primary" id="btn2" onclick="updateChart(lastThirtyDaysOrders, lastThirtyDaysOrdersTitle, lastThirtyDaysSales, lastThirtyDaysSalesTitle)">Last 30 days</button>
    <button class="btn btn-primary" id="btn3" onclick="updateChart(lastTwelveMonthsOrders, lastTwelveMonthsOrdersTitle, lastTwelveMonthsSales, lastTwelveMonthsSalesTitle)">Last 12 months</button>
    <button class="btn btn-primary" id="btn4" onclick="updateChart(todayHourlyOrders, todayHourlyOrdersTitle, todayHourlySales, todayHourlySalesTitle)">Today (hourly)</button>
    <button class="btn btn-primary" id="btn5">Last 5 years</button>
    <button class="btn btn-primary" id="btn8">Categories (all time)</button>

    <br><br>

<!--   Hello World-->
    <script th:inline="javascript">
        var lastSevenDaysOrders = /*[[${lastSevenDaysOrders}]]*/ [];
        var lastSevenDaysOrdersTitle = /*[[${lastSevenDaysOrdersTitle}]]*/ ;
        var lastSevenDaysSales = /*[[${lastSevenDaysSales}]]*/ [];
        var lastSevenDaysSalesTitle = /*[[${lastSevenDaysSalesTitle}]]*/ ;

        var lastThirtyDaysOrders = /*[[${lastThirtyDaysOrders}]]*/ [];
        var lastThirtyDaysOrdersTitle = /*[[${lastThirtyDaysOrdersTitle}]]*/ ;
        var lastThirtyDaysSales = /*[[${lastThirtyDaysSales}]]*/ [];
        var lastThirtyDaysSalesTitle = /*[[${lastThirtyDaysSalesTitle}]]*/ ;

        var lastTwelveMonthsOrders = /*[[${lastTwelveMonthsOrders}]]*/ [];
        var lastTwelveMonthsOrdersTitle = /*[[${lastTwelveMonthsOrdersTitle}]]*/ ;
        var lastTwelveMonthsSales = /*[[${lastTwelveMonthsSales}]]*/ [];
        var lastTwelveMonthsSalesTitle = /*[[${lastTwelveMonthsSalesTitle}]]*/ ;

        var todayHourlyOrders = /*[[${todayHourlyOrders}]]*/ [];
        var todayHourlyOrdersTitle = /*[[${todayHourlyOrdersTitle}]]*/ ;
        var todayHourlySales = /*[[${todayHourlySales}]]*/ [];
        var todayHourlySalesTitle = /*[[${todayHourlySalesTitle}]]*/ ;
    </script>

    <script th:inline="javascript">
        function updateChart(orders, ordersTitle, sales, salesTitle) {
            ordersChart.data.labels = orders[0];
            ordersChart.data.datasets[0].data = orders[1];
            ordersChart.options.title.text = ordersTitle;

            salesChart.data.labels = sales[0];
            salesChart.data.datasets[0].data = sales[1];
            salesChart.options.title.text = salesTitle;

            ordersChart.update();
            salesChart.update();
        }
    </script>

    <div id="chart" class="row">
        <div class="col-sm-6">
            <div style="height:400px; background-color:white">
                <canvas id="orders"></canvas>
            </div>
        </div>
        <div class="col-sm-6">
            <div style="height:400px; background-color:white">
                <canvas id="sales"></canvas>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script th:inline="javascript">
        var ordersChart = initializeOrdersChart();

        function initializeOrdersChart() {
            return new Chart("orders", {
              type: "bar",
              data: {
                labels: /*[[${lastSevenDaysOrders.get(0)}]]*/,
                datasets: [{
                    label: 'Orders',
                  backgroundColor: /*[[${barColors}]]*/,
                  data: /*[[${lastSevenDaysOrders.get(1)}]]*/
                }]
              },
              options: {
                legend: {display: false},
                title: {
                  display: true,
                  text: /*[[${lastSevenDaysOrdersTitle}]]*/
                }
              }
            });
        }

    </script>
    <script th:inline="javascript">
        var salesChart = initializeSalesChart();

        function initializeSalesChart() {
            return new Chart("sales", {
              type: "bar",
              data: {
                labels: /*[[${lastSevenDaysSales.get(0)}]]*/,
                datasets: [{
                    label: 'Revenue (₹)',
                  backgroundColor: /*[[${barColors}]]*/,
                  data: /*[[${lastSevenDaysSales.get(1)}]]*/
                }]
              },
              options: {
                legend: {display: false},
                title: {
                  display: true,
                  text: /*[[${lastSevenDaysSalesTitle}]]*/
                }
              }
            });
        }
    </script>

<!--    Hello World-->

    <div id="div1" class="row">
        <div class="col-sm-6">
            <div id="columnchart_material" style="height: 400px;"></div>
        </div>
        <div class="col-sm-6">
            <div id="columnchart_material2" style="height: 400px;"></div>
        </div>
    </div>

    <div id="div2" class="row">
            <div class="col-sm-6">
                <div style="height:400px; background-color:white">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
            <div class="col-sm-6">
                <div style="height:400px; background-color:white">
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
    </div>

    <div id="div3" class="row">
        <div class="col-sm-6">
            <div style="height:400px; background-color:white;">
                <canvas id="graph1"></canvas>
            </div>
        </div>

        <div class="col-sm-6">
            <div style="height:400px; background-color:white;">
                <canvas id="graph2"></canvas>
            </div>
        </div>
    </div>

    <div id="div4" class="row">
        <div class="col-sm-6">
            <div style="height:400px; background-color:white;">
                <canvas id="graph3"></canvas>
            </div>
        </div>

        <div class="col-sm-6">
            <div style="height:400px; background-color:white;">
                <canvas id="graph4"></canvas>
            </div>
        </div>
    </div>

    <div id="div5" class="row">
        <div class="col-sm-6">
            <div style="height:400px; background-color:white;">
                <canvas id="graph5"></canvas>
            </div>
        </div>

        <div class="col-sm-6">
            <div style="height:400px; background-color:white;">
                <canvas id="graph6"></canvas>
            </div>
        </div>
    </div>

    <div id="div8" class="row">
        <div class="col-sm-6">
            <div id="piechart" style="height:400px;">
            </div>
        </div>

        <div class="col-sm-6">
            <div id="piechart_3d" style="height:400px;">
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:#e7e9eb;">
                <div class="card-body">
                    <h4 class="card-title">Categories</h4>
                    <p class="card-text">Manage the categories section here.</p>
                    <a href="#" th:href="@{/admin/categories}" class="card-link btn buntan">Manage</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:#e7e9eb;">
                <div class="card-body">
                    <h4 class="card-title">Products</h4>
                    <p class="card-text">Manage the products section here.</p>
                    <a href="#" th:href="@{/admin/products}" class="card-link btn buntan">Manage</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:#e7e9eb;">
                <div class="card-body">
                    <h4 class="card-title">Users</h4>
                    <p class="card-text">Manage the users section here.</p>
                    <a href="#" th:href="@{/admin/users}" class="card-link btn buntan">Manage</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:#e7e9eb;">
                <div class="card-body">
                    <h4 class="card-title">Orders</h4>
                    <p class="card-text">Manage the orders section here.</p>
                    <a href="#" th:href="@{/admin/orders}" class="card-link btn buntan">Manage</a>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:#e7e9eb;">
                <div class="card-body">
                    <h4 class="card-title">Inventory</h4>
                    <p class="card-text">Manage the inventory here.</p>
                    <a href="#" th:href="@{/admin/inventory}" class="card-link btn buntan">Manage</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:#e7e9eb;">
                <div class="card-body">
                    <h4 class="card-title">Coupons</h4>
                    <p class="card-text">Manage the coupons here.</p>
                    <a href="#" th:href="@{/admin/coupons}" class="card-link btn buntan">Manage</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:#e7e9eb;">
                <div class="card-body">
                    <h4 class="card-title">Sales Report</h4>
                    <p class="card-text">See the sales report here.</p>
                    <a href="#" th:href="@{/admin/salesReport}" class="card-link btn buntan">Manage</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:#e7e9eb;">
                <div class="card-body">
                    <h4 class="card-title">Wallets</h4>
                    <p class="card-text">Manage the user's wallets here</p>
                    <a href="#" th:href="@{/admin/wallets}" class="card-link btn buntan">Manage</a>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 pt-3">
            <div class="card" style="background-color:rgb(86, 36, 208); color:white;">
                <div class="card-body text-center">
                    <h2 class="card-title">ALL TIME</h2>
                    <h4 class="card-text">ORDER COUNT : <span th:text="${totalOrdersExcludingCancelled}" style="font-weight:900; font-size:50px;"></span></h4>
                    <h4 class="card-text">REVENUE : ₹ <span th:text="${totalSales}" style="font-size:35px;"></span></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 pt-3" >
            <div class="card text-center" style="background-color:rgb(86, 36, 208); color:white;">
                <div class="card-body">
                    <!--                    <h2 class="card-title">ALL TIME</h2>-->
                    <h4 class="card-text">TOTAL ORDERS : <span th:text="${totalOrdersExcludingCancelled}" style="font-size:40px;"></span></h4>
                    <h4 class="card-text">ORDERS PLACED : <span th:text="${ordersPlaced}" style="font-size:40px;"></span></h4>
                    <h4 class="card-text">ORDERS PACKED : <span th:text="${ordersPacked}" style="font-size:40px;"></span></h4>
                    <h4 class="card-text">ORDERS SHIPPED : <span th:text="${ordersShipped}" style="font-size:40px;"></span></h4>
                    <h4 class="card-text">ORDERS IN TRANSIT : <span th:text="${ordersInTransit}" style="font-size:40px;"></span></h4>
                    <h4 class="card-text">ORDERS DELIVERED : <span th:text="${ordersDelivered}" style="font-size:40px;"></span></h4>
                    <h4 class="card-text">ORDERS CANCELLED : <span th:text="${ordersCancelled}"></span></h4>
                    <h4 class="card-text">Total Orders (incl. cancelled) : <span th:text="${totalOrdersIncludingCancelled}"></span></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<script th:inline="javascript">
    var xValues = /*[[${chartData}]]*/ [];
    var yValues = /*[[${chartData2}]]*/ [];
    var barColors = /*[[${barColors}]]*/ [];

    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
            label: 'Orders',
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "Orders Monthly (Last 30 days)"
        }
      }
    });
</script>
<script th:inline="javascript">
    var xValues2 = /*[[${chartData3}]]*/ [];
    var yValues2 = /*[[${chartData4}]]*/ [];
    var barColors2 = /*[[${barColors}]]*/ [];

    new Chart("myChart2", {
        type: "bar",
        data: {
            labels: xValues2,
            datasets: [{
                label: '',
                type: 'bar',
                backgroundColor: barColors2,
                data: yValues2
            }]
        },
        options: {
            legend: {display: false},
            title: {
                display: true,
                text: "Revenue Monthly (Last 30 days)"
            }
        }
    });
</script>
<!--Monthly chart ends here-->
<!--Yearly (last 12 months) chart starts here-->
<script th:inline="javascript">
    var graphData1 = /*[[${graphData1}]]*/ [];
    var graphData2 = /*[[${graphData2}]]*/ [];
    var colors = ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#e8c3b9","#c45850"];

    new Chart(document.getElementById("graph1"), {
        type: 'horizontalBar',
        data: {
            labels: graphData1,
            datasets: [{
                label: "Orders",
                backgroundColor: colors,
                data: graphData2
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Orders (last 12 months)'
            }
        }
    });
</script>
<script th:inline="javascript">
    var graphData3 = /*[[${graphData3}]]*/ [];
    var graphData4 = /*[[${graphData4}]]*/ [];
    var colors2 = ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850","#e8c3b9","#c45850"];

    new Chart(document.getElementById("graph2"), {
        type: 'horizontalBar',
        data: {
            labels: graphData3,
            datasets: [{
                label: "Revenue (₹)",
                backgroundColor: colors2,
                data: graphData4
            }]
        },
        options: {
            legend: { display: false },
            title: {
                display: true,
                text: 'Revenue in ₹ (last 12 months)'
            }
        }
    });
</script>
<!--Yearly (last 12 months) chart ends here-->
<!--Other chart 1 starts here-->
<script th:inline="javascript">
    var dailyList = /*[[${dailyList}]]*/ [];
    var dailyTimeLabels = /*[[${dailyTimeLabels}]]*/ [];;

    const ctx = document.getElementById('graph3');
    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: dailyTimeLabels,
        datasets: [{
          label: 'Orders today',
          backgroundColor: "navy",
          data: dailyList,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>
<script th:inline="javascript">
    var dailyList2 = /*[[${dailyList2}]]*/ [];
    var dailyTimeLabels2 = /*[[${dailyTimeLabels2}]]*/ [];

    const ctxx = document.getElementById('graph4');

    new Chart(ctxx, {
      type: 'bar',
      data: {
        labels: dailyTimeLabels2,
        datasets: [{
          label: 'Revenue (₹) today',
          backgroundColor: "turquoise",
          data: dailyList2,
          borderWidth: 1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>
<!--Other chart 2 ends here-->
<script th:inline="javascript">
    var labelFive = /*[[${labelFive}]]*/ [];
    var dataFive = /*[[${dataFive}]]*/ [];
    var tomatoColors = ["tomato", "DodgerBlue","MediumSeaGreen","Violet","#c45850"];

    new Chart(document.getElementById("graph5"), {
     type: 'horizontalBar',
     data: {
       labels: labelFive,
       datasets: [
         {
           label: "Orders",
           backgroundColor: tomatoColors,
           data: dataFive
         }
       ]
     },
     options: {
       legend: { display: false },
       title: {
         display: true,
         text: 'Orders (last 5 years)'
       }
     }
 });
</script>
<script th:inline="javascript">
    var labelFive2 = /*[[${labelFive2}]]*/ [];
    var dataFive2 = /*[[${dataFive2}]]*/ [];
    var tomatoColors2 = ["tomato", "DodgerBlue","MediumSeaGreen","Violet","#c45850"];

    new Chart(document.getElementById("graph6"), {
     type: 'horizontalBar',
     data: {
       labels: labelFive2,
       datasets: [
         {
           label: "Revenue(₹)",
           backgroundColor: tomatoColors2,
           data: dataFive2
         }
       ]
     },
     options: {
       legend: { display: false },
       title: {
         display: true,
         text: 'Revenue(₹) (last 5 years)'
       }
     }
 });
</script>
<!--    Pie chart starts here-->
<script type="text/javascript" th:inline="javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChartqq);

    function drawChartqq() {

      var dataqq = google.visualization.arrayToDataTable([
        ['Category', 'Orders'],
        /*[# th:each="row : ${pie1}"]*/
        [[${row}]],
        /*[/]*/
      ]);

      var optionsqq = {
        title: 'Orders by Category'
      };

      var chartqq = new google.visualization.PieChart(document.getElementById('piechart'));

      chartqq.draw(dataqq, optionsqq);
    }
</script>
<script type="text/javascript" th:inline="javascript">
    google.charts.load("current", {packages:["corechart"]});
    google.charts.setOnLoadCallback(drawChartcc);
    function drawChartcc() {
      var datacc = google.visualization.arrayToDataTable([
        ['Category', 'Revenue'],
        /*[# th:each="row : ${pie2}"]*/
        [[${row}]],
        /*[/]*/
      ]);

      var optionscc = {
        title: 'Revenue by Category',
        is3D: true,
      };

      var chartcc = new google.visualization.PieChart(document.getElementById('piechart_3d'));
      chartcc.draw(datacc, optionscc);
    }
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>