<!doctype html>
<html lang="en" xmlns:th="http://java.sun.com/xml/ns/j2ee" xmlns:sec="http://java.sun.com/xml/ns/j2ee">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <title>mobiG</title>
</head>

<body>

<nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

    <div class="container">
        <a class="navbar-brand" th:href="@{/}">mobiG<span>.</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
            <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li><a class="nav-link" th:href="@{/shop}">Shop</a></li>
                <li><a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}">Login</a></li>
                <li><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a></li>
            </ul>

            <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
                <li><a class="nav-link" th:href="@{/profile}"><img src="mobi/user.svg"></a></li>
                <li><a class="nav-link" th:href="@{/cart}"><img src="mobi/cart.svg"></a></li>
                <li class="nav-item active"><span class="nav-link" th:text="${cartCount}">0</span></li>
            </ul>
        </div>
    </div>

</nav>

<div class="hero">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-5">
                <div class="intro-excerpt">
                    <h1>No. 1 <span class="d-block">Smartphone Destination</span></h1>
                    <p class="mb-4">Discover our top rated smartphones</p>
                    <p><a th:href="@{/shop}" class="btn btn-secondary me-2">Shop Now</a>
                    </p>
                </div>
            </div>
            <div class="col-lg-7">
                <div>
                    <img src="mobi/phone.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
                <h2 class="mb-4 section-title">Hot new releases</h2>
                <p class="mb-4">Best Sellers, Featured Deals and more </p>
                <p><a th:href="@{/shop}" class="btn">Explore</a></p>
            </div>

            <div th:each="product, iStat : ${products}" class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item" th:href="@{/shop/category/{id}(id=${product.getCategory().getId()})}">
                    <img th:src="${urlList.get(iStat.index)}" class="img-fluid product-thumbnail" style="width: 306px; height: 306px; object-fit: contain;">

                    <strong class="product-price" th:text="${product.getCategory().getName()}"></strong>


                    <span class="icon-cross">
								<img src="mobi/cross.svg" class="img-fluid">
							</span>
                </a>
            </div>

        </div>
    </div>
</div>

<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Why Choose Us</h2>
                <p>Explore Cutting-Edge Technology with Our Latest Smartphone Collection. Elevate Your Mobile Experience Today.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="mobi/truck.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Fast &amp; Free Shipping</h3>
                            <p>Swift and Complimentary Delivery: Unleash Seamless Shopping with Our Rapid Shipping Services. Your Satisfaction, Our Priority.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="mobi/bag.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Easy to Shop</h3>
                            <p>Effortless Shopping: Explore, Click, and Enjoy a Seamless Experience with Our User-Friendly Platform.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="mobi/support.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Always Here for You: 24/7 Support to Ensure Your Questions Are Answered and Needs Are Met.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="mobi/return.svg" alt="Image" class="imf-fluid">
                            </div>
                            <h3>Hassle Free Returns</h3>
                            <p>Simplify Returns: Effortless and Hassle-Free Returns for Your Peace of Mind.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="mobi/oppo.png" alt="Image" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>

<footer class="footer-section">
    <div class="container relative">

        <div class="row g-5 mb-5">
            <div class="col-lg-4">
                <div class="mb-4 footer-logo-wrap"><a href="/" class="footer-logo">mobiG<span>.</span></a></div>
                <p class="mb-4">No. 1 Smartphone Destination. We bring you the best and latest smartphones.</p>
            </div>

            <div class="col-lg-8">
                <div class="row links-wrap">
                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                            <li><a href="#"></a></li>
                        </ul>
                    </div>

                    <div class="col-6 col-sm-6 col-md-3">
                        <ul class="list-unstyled">
                            <li><a href="/">About Us</a></li>
                            <li><a href="/">Home</a></li>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="/profile">Profile</a></li>
                            <li><a href="/cart">Cart</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

        <div class="border-top copyright">
            <div class="row pt-4">
                <div class="col-lg-6">
                    <p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved.
                    </p>
                </div>

                <div class="col-lg-6 text-center text-lg-end">
                    <ul class="list-unstyled d-inline-flex ms-auto">
                        <li class="me-4"><a href="/">Terms &amp; Conditions</a></li>
                        <li><a href="/">Privacy Policy</a></li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</footer>

</body>

</html>
