<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>mobiG</title>
    <style>
        .buntan {background-color:rgb(135, 16, 216); color:white;}
        body {background-color:rgb(244, 237, 223);}
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/shop}" href="#">Shop</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/profile}" href="#">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/login}" href="#">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/logout}" href="#">Logout</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/cart}" href="#">Cart</a>
                </li>
                <li class="nav-item active">
                    <span class="nav-link" th:text="${cartCount}">0</span>
                </li>
            </ul>

        </div>
    </div>
</nav>



<div class="jumbotron text-center" style="background-color:rgb(219, 238, 246);">
    <h1 class="display-4" style="font-weight:bold;">Welcome to your profile</h1>
    <p style="font-weight:500;">Easily manage your account from this panel</p>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:rgb(245, 245, 245);">
                <div class="card-body">
                    <h4 class="card-title">Profile Details</h4>
                    <p class="card-text">View you profile details here.</p>
                    <a href="#" th:href="@{/profileDetails}" class="card-link btn buntan">Profile Details</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:rgb(245, 245, 245);">
                <div class="card-body">
                    <h4 class="card-title">Addresses</h4>
                    <p class="card-text">Manage your addresses here.</p>
                    <a href="#" th:href="@{/addresses}" class="card-link btn buntan">Addresses</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:rgb(245, 245, 245);">
                <div class="card-body">
                    <h4 class="card-title">Orders</h4>
                    <p class="card-text">Manage your orders here.</p>
                    <a href="#" th:href="@{/orders}" class="card-link btn buntan">Orders</a>

                </div>
            </div>
        </div>

        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:rgb(245, 245, 245);">
                <div class="card-body">
                    <h4 class="card-title">Wishlist</h4>
                    <p class="card-text">Manage your wishlist here.</p>
                    <a href="#" th:href="@{/wishlist}" class="card-link btn buntan">Wishlist</a>

                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-sm-3 pt-3" >
            <div class="card" style="background-color:rgb(245, 245, 245);">
                <div class="card-body">
                    <h4 class="card-title">Wallet</h4>
                    <p class="card-text">Manage your wallet here.</p>
                    <a href="#" th:href="@{/wallet}" class="card-link btn buntan">Wallet</a>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>
</html>