<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>mobiG</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/images/logo.png}"  src="../static/images/logo.png" width="auto" height="40" class="d-inline-block align-top" alt=""/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/admin}" href="#">Panel</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">Logout</a>
                </li>

            </ul>

        </div>
    </div>
</nav>

<div class="container">

    <h3>Users</h3>
    <hr>

    <br>

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>SN</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Delete</th>
            <th>Status</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="user, i : ${users}">

            <td th:text="${i.index+1}"></td>
            <td th:text="${user.firstName}"></td>
            <td th:text="${user.lastName}"></td>
            <td th:text="${user.email}"></td>
            <td>
                <a th:href="@{/admin/users/delete/{id}(id=${user.getId()})}"
                   class="btn btn-danger btn-sm"
                   onclick="if(!(confirm('Are you sure you want to delete this user?'))) return false">Delete</a>
            </td>
            <td>
                <a th:if="${user.isEnabled==false}" th:href="@{/admin/users/enable/{id}(id=${user.getId()})}"
                   class="btn btn-success btn-sm">Enable</a>
                <a th:if="${user.isEnabled==true}" th:href="@{/admin/users/disable/{id}(id=${user.getId()})}"
                   class="btn btn-warning btn-sm">Disable</a>
            </td>

        </tr>
        </tbody>
    </table>

</div>

<hr>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>











